<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>石头记小说在线网-免费全本小说无弹窗阅读</title>
<meta name="keywords" content="石头记小说在线,免费全本小说,全本TXT小说,无弹窗小说" />
<meta name="description" content="石头记小说在线 是无弹窗广告的免费小说阅读网站,提供最新完结小说,全本玄幻小说、都市小说、穿越小说、网游小说、武侠仙侠、历史军事、修真同人等全本小说免费阅读,最新完本小说阅读就在全本小说网。" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="mobile-agent" content="format=html5; url=https://m.qb5200.tw" />
<meta http-equiv="mobile-agent" content="format=xhtml; url=https://m.qb5200.tw" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/static/images/bitbug_favicon.ico" >
<script src="/static/js/common.js"></script>

    <style>
        .nav li{margin-left: 40px}

    </style>
</head>
<body>
<div style="width: 100%;height: 30px;background: #CCCCCC"><span style="line-height: 30px;margin-left: 180px">欢迎来到由chuanxi精心克隆的小说网站，石头记祝您阅读愉快。</span></div>
<div class="header">
<div class="wrap">
	<div class="logo">
		<a href="/" title="石头记小说在线">石头记小说在线<em>www.qb5200.tw</em></a>
	</div>

    <form action="/serach/" method="get">
	<p style="margin-top: 20px"><input type="text" placeholder="请输入关键字搜素" name="serach" style="height: 26px;width: 260px"><input type="submit" value="搜素" style="height: 32px;width: 80px"></p>
    </form>

</div>
</div>
<div class="nav"><ul>
    <li><a href="/">首页</a></li>
    {% for type in typeinfo %}
    <li><a href="/lists/{{ type.id }}">{{ type.name }}</a></li>
    {% endfor %}
    </ul></div>
<div class="clear"></div>


{% block content %}
{% endblock %}

<div class="footer">
<hr>
    石头记小说在线网 是免费全本小说无弹窗阅读,书友最值得收藏的网络小说阅读网_https://www.cnblogs.com/lvye001/ <br/>
    Copyright &copy; 2016 <a href="https://www.cnblogs.com/chuanxi/">石头记小说CEO传玺(点击进入该作者博客) All Rights Reserved
    京ICP备16022215号-3
</div>
</body>
</html>